* {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: "Cairo", sans-serif;
  /* scrollbar-width: thin;
  scroll-behavior: smooth; */
}

:root {
  --main-color: #704e42;
  --sec-color: #cdb18e;
}

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}

.dashboard .side-bar {
  width: 300px;
  height: 100%;
  background: var(--main-color);
  overflow: hidden;
}

.dashboard .side-bar .logo {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px 0px;
}

.dashboard .side-bar .logo img {
  width: 70%;
  filter: invert(80%) sepia(0%) saturate(20%) hue-rotate(5deg) brightness(300%)
    contrast(995%);
}

.dashboard .side-bar .items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dashboard .side-bar .items ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.dashboard .side-bar .items ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 15px;
  transition: 0.4s;
  margin: 0px 15px;
}

.dashboard .side-bar .items ul li a:hover {
  background: var(--sec-color);
  color: var(--main-color);
}

.dashboard .side-bar .items ul li a i {
  margin-left: 10px;
}

.dashboard .side-bar .items ul li a.active {
  background: var(--sec-color);
  color: var(--main-color);
}

/* contents */

.dash-content {
  width: 100%;
  /* overflow-y: auto; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dash-content .header {
  width: 100%;
  background: var(--sec-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  text-align: left;
  /* position: sticky;
  top: 0;
  left: 0; */
  /* height: 50px; */
}

.dash-content .header .admin {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.dash-content .header .admin .drop {
  position: absolute;
  top: 85px;
  left: 10px;
  background: var(--main-color);
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 200px;
  list-style: none;
  margin: 0;
  text-align: right;
  cursor: initial;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.dash-content .header .drop-admin .drop {
  opacity: 1;
  visibility: visible;
  top: 65px;
}

.dash-content .header .admin .drop li:first-child {
  margin-bottom: 15px;
}

.dash-content .header .admin .drop li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s;
  position: relative;
}

.dash-content .header .admin .drop li a i {
  margin-left: 10px;
}

.dash-content .header .admin .drop li a:hover {
  color: var(--sec-color);
}

.dash-content .header .admin .drop li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--sec-color);
  transition: 0.4s;
}

.dash-content .header .admin .drop li a:hover::before {
  width: 100%;
  right: 0;
}

.dash-content .header img {
  width: 50px;
  height: 55px;
  margin: 0px 10px;
  border-radius: 50%;
  background: white;
}

.dash-content .header h4 {
  font-size: 15px;
  color: white;
  margin-bottom: 0px;
}

.dash-content .header p {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: -5px;
  color: var(--main-color);
}

.dash-content .header .icon-btn {
  margin-right: 10px;
}

.dash-content .header .icon-btn i {
  font-size: 25px;
  font-weight: 700;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.dash-content .header .icon-btn i:hover {
  color: var(--main-color);
}

.dash-content .component {
  height: calc(100vh- 75px);
  overflow-y: auto;
}

@media (min-width: 992px) {
  .dash-content .header .icon-btn i,
  .dashboard .side-bar .side-cover .close {
    display: none;
  }
}

@media (max-width: 992px) {
  .dashboard .side-bar {
    position: fixed;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.413);
    z-index: 1000;
    top: 0;
    left: 0;
    transition: 0.4s;
  }

  .dashboard .active-side {
    width: 100%;
  }

  .dashboard .side-bar .side-cover {
    position: fixed;
    right: -350px;
    background: white;
    top: 0;
    width: 300px;
    height: 100%;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
  }

  .dashboard .active-side .side-cover {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .dashboard .side-bar .logo img {
    filter: invert(0);
  }

  .dashboard .side-bar .items ul li a {
    color: #704e42;
  }

  .dashboard .side-bar .items ul li a:hover,
  .dashboard .side-bar .items ul li a.active {
    color: white;
    background: var(--main-color);
  }

  .dashboard .side-bar .side-cover .close {
    position: absolute;
    top: 10px;
    left: -50px;
    background: white;
    color: var(--main-color);
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
  }

  .dashboard .side-bar .side-cover .close i {
    display: flex;
    font-size: 20px;
    transition: 0.4s;
  }

  .dashboard .side-bar .side-cover .close:hover i {
    transform: rotate(180deg);
  }
}
