* {
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #704e42;
  --sec-color: #cdb18e;
}

.banner-section {
  background: url("../Imgs/banner.jpg") no-repeat center;
  background-size: cover;
}

/* banner */

.banner-section .banner-cover {
  background: rgba(63, 43, 5, 0.63);
  padding: 250px 0px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.banner-section .banner-cover .banner-content {
  width: 50%;
  text-align: center;
  color: white;
}

.banner-section .banner-cover .banner-content h1 {
  font-size: 50px;
  font-weight: 800;
  color: wheat;
}

.banner-section .banner-cover .banner-content p {
  font-size: 20px;
  font-weight: 600;
}

.banner-section .banner-cover img {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

@media (max-width: 1199px) {
  .banner-section .banner-cover {
    padding: 180px 0px;
  }

  .banner-section .banner-cover .banner-content {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .banner-section .nav-cover ul {
    display: none;
  }
}

@media (max-width: 767px) {
  .banner-section .banner-cover .banner-content {
    width: 85%;
  }

  .banner-section .banner-cover .banner-content p {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .banner-section .banner-cover {
    padding: 150px 0px;
  }

  .banner-section .banner-cover .banner-content {
    width: 94%;
  }

  .banner-section .banner-cover .banner-content p {
    font-size: 14px;
  }
}

/* home about */

.about {
  margin: 70px 0px;
}

.about .row {
  display: flex;
  justify-content: space-between;
}

.about .row .col-data {
  /* padding: 10px;
  background: var(--sec-color); */
  position: relative;
}

.about .row .col-data h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 800;
}

.about .row .col-data p {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.6;
  margin-bottom: 20px;
}

.about .row .col-data svg {
  position: absolute;
  top: -200px;
  right: -200px;
  z-index: -1;
}

.about .row .col-data ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.about .row .col-data ul li {
  margin-left: 15px;
}

.about .row .col-data ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  background: var(--sec-color);
  display: flex;
  border-radius: 5px;
  transition: 0.4s;
}

.about .row .col-data ul li a i {
  display: flex;
  font-size: 25px;
}

.about .row .col-data ul li a:hover {
  color: var(--sec-color);
  background: var(--main-color);
}

.about .row .col-img {
  padding: 5px;
  border-radius: 0px 40px 40px 40px;
  border: 1px solid var(--main-color);
  box-shadow: 8px 8px 0px var(--main-color);
}

.about .row .col-img img {
  width: 100%;
  border-radius: 0px 40px 40px 40px;
}

@media (max-width: 1199px) {
  .about .row {
    display: flex;
    justify-content: center;
  }

  .about .row .colom {
    margin-bottom: 30px;
  }

  .about .row .col-data p {
    font-size: 17px;
  }
}

/* member section */

.members {
  margin: 150px 0px;
  padding: 40px 0px;
  padding-bottom: 170px;
  width: 100%;
  overflow: hidden;
  background: var(--sec-color);
  position: relative;
  z-index: 0;
}

.members .icon {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  z-index: -1;
}

.members .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.members .head h4 {
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 0;
  text-shadow: 4px 4px 0px white;
}

.members .head a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.members .row .splide__slide {
  display: flex;
  justify-content: center;
  z-index: 10;
}

.members .row .splide__slide .member-card {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.members .row .splide__slide a {
  text-decoration: none;
  color: white;
}

.members .row .splide__slide .card-img {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 300px;
  border: 2px solid var(--main-color);
  position: relative;
}

.members .row .splide__slide .member-card::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30%;
  top: 0;
  right: 0;
  transition: 0.4s;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 10px 10px 10px 0px;
  z-index: -1;
}

.members .row .splide__slide .member-card:hover::after {
  width: 70%;
  height: 70%;
}

.members .row .splide__slide .member-card::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 30%;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  border-bottom: 15px solid white;
  border-left: 15px solid white;
  border-radius: 10px 10px 10px 0px;
  z-index: -1;
}

.members .row .splide__slide .member-card:hover::before {
  width: 70%;
  height: 70%;
}

.members .row .splide__slide .card-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.064);
}

.members .row .splide__slide:hover .card-img::before {
  background: rgba(0, 0, 0, 0.371);
}

.members .row .splide__slide .card-img img {
  width: 100%;
  height: 100%;
}

.members .row .splide__slide .member-card .card-body {
  padding: 10px;
  background: var(--main-color);
  border-radius: 10px;
}

.members .row .splide__slide .member-card .card-body h3 {
  font-size: 22px;
  font-weight: 700;
}

.members .row .splide__slide .member-card .card-body p {
  font-size: 18px;
  margin-bottom: 0;
  color: var(--sec-color);
}

.members .splide__arrow {
  background: var(--main-color) !important;
  border-radius: 0 !important;
  transition: 0.4s;
}

.members .splide__arrow svg {
  fill: white !important;
}

@media (max-width: 575px) {
  .members .head {
    flex-direction: column;
  }

  .members .head h4 {
    margin-bottom: 20px;
  }
}
