body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #704e42;
  --sec-color: #cdb18e;
}

.banner-section {
  background: url("../Imgs/banner.jpg") no-repeat center;
  background-size: cover;
  z-index: 2;
}

.banner-section .my-nav {
  background: rgba(63, 43, 5, 0.63);
  /* background: white; */
  padding-top: 15px;
}

.banner-section .nav-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 20px;
  background: white;
  border-radius: 10px;
}

.banner-section .nav-cover .logo {
  z-index: 1;
}

.banner-section .nav-cover img {
  width: 150px;
  border-radius: 10px;
  background: white;
}

.banner-section .nav-cover ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.banner-section .nav-cover ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  margin: 0px 10px;
  transition: 0.4s;
  position: relative;
  padding-bottom: 5px;
}

.banner-section .nav-cover ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  border-bottom: 3px solid var(--sec-color);
  transition: 0.4s;
}

.banner-section .nav-cover ul li a:hover::before {
  width: 100%;
  left: 0%;
}

.banner-section .nav-cover ul li a:hover,
.banner-section .nav-cover .lang a:hover,
.banner-section .nav-cover .lang .bar i:hover {
  color: var(--sec-color);
}

.banner-section .nav-cover .lang {
  display: flex;
  align-items: center;
  z-index: 1;
}

.banner-section .nav-cover .lang a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 700;
  transition: 0.4s;
  display: flex;
}

.banner-section .nav-cover .lang .bar i {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 700;
  transition: 0.4s;
  margin-right: 15px;
  display: flex;
  cursor: pointer;
}

.banner-section .nav-cover .lang .to-login {
  font-size: 14px;
  background: var(--main-color);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.4s;
}

.banner-section .nav-cover .lang .to-login:hover {
  background: var(--sec-color);
  color: var(--main-color);
}

@media (max-width: 991px) {
  .banner-section .nav-cover .lang .to-login {
    display: none;
  }
}
@media (min-width: 992px) {
  .banner-section .nav-cover .lang .bar {
    display: none;
  }
}

/* side nav */

.banner-section .side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  background: rgba(0, 0, 0, 0.62);
  z-index: 100;
  height: 100%;
  transition: 0.5s;
}

.banner-section .active-side {
  width: 100%;
}

.banner-section .side-nav .side-cover {
  position: fixed;
  right: -350px;
  background: white;
  top: 0;
  width: 300px;
  height: 100%;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

.banner-section .active-side .side-cover {
  right: 0;
  visibility: visible;
  opacity: 1;
}

.banner-section .side-nav .side-cover img {
  width: 100%;
  margin-bottom: 30px;
}

.banner-section .side-nav .side-cover ul {
  list-style: none;
  padding: 0 20px;
}

.banner-section .side-nav .side-cover ul li {
  margin-bottom: 15px;
}

.banner-section .side-nav .side-cover ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  margin: 0px 10px;
  transition: 0.4s;
  position: relative;
  padding-bottom: 5px;
}

.banner-section .side-nav .side-cover ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: 0;
  height: 3px;
  border-bottom: 3px solid var(--sec-color);
  transition: 0.4s;
}

.banner-section .side-nav .side-cover ul li a:hover::before {
  width: 100%;
  right: 0;
}

/* .banner-section .side-nav .side-cover .to-login {
  font-size: 14px;
  background: var(--main-color);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.4s;
  text-decoration: none;
  font-weight: 700;
}

.banner-section .side-nav .side-cover .to-login:hover {
  background: var(--sec-color);
  color: var(--main-color);
} */

.banner-section .side-nav .side-cover .close {
  position: absolute;
  top: 10px;
  left: -50px;
  background: white;
  color: var(--main-color);
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
}

.banner-section .side-nav .side-cover .close i {
  display: flex;
  font-size: 20px;
  transition: 0.4s;
}

.banner-section .side-nav .side-cover .close:hover i {
  transform: rotate(180deg);
}
